Repository pc2ccs/pc2v9, pull requests merged in 2023-03, with the labels that each got.

#674 i_594 Clear out previous results table so stale results are not shown - fixes #594
  src/edu/csus/ecs/pc2/ui/SelectJudgementPaneNew.java
  src/edu/csus/ecs/pc2/ui/TestResultsFrame.java
  src/edu/csus/ecs/pc2/ui/TestResultsPane.java
  src/edu/csus/ecs/pc2/ui/cellRenderer/TestCaseResultCellRenderer.java
Labels: CI - Continuous Improvement, Small LOE, Uber CI

#681 i680: fix NPE by assigning scoring properties to properties
  projects/WTI-API/src/main/controllers/ContestController.java
Labels: bug, WTI-UI

#575 Part 2 Shadow connection logging expands on fixing #429
  src/edu/csus/ecs/pc2/shadow/IShadowMonitorStatus.java
  src/edu/csus/ecs/pc2/shadow/RemoteEventFeedMonitor.java
  src/edu/csus/ecs/pc2/shadow/ShadowController.java
  src/edu/csus/ecs/pc2/ui/ShadowControlPane.java
Labels: enhancement, Shadow, CI - Continuous Improvement
