Repository pc2ccs/pc2v9, pull requests merged in 2025-05, with the labels that each got.

#1038 I79 clarification announcement fixes
  projects/WTI-API/src/main/services/ClarificationService.java
  projects/WTI-API/src/main/services/RunsService.java
  projects/WTI-API/websockets/WebsocketEnums/WebsocketMsgType.java
  projects/WTI-UI/src/app/modules/clarifications/clarifications.module.ts
  projects/WTI-UI/src/app/modules/clarifications/components/clarifications-page/clarifications-page.component.ts
  projects/WTI-UI/src/app/modules/clarifications/components/new-announcement-clarification-alert/new-announcement-alert.component.html
  projects/WTI-UI/src/app/modules/clarifications/components/new-announcement-clarification-alert/new-announcement-alert.component.scss
  projects/WTI-UI/src/app/modules/clarifications/components/new-announcement-clarification-alert/new-announcement-alert.component.spec.ts
  projects/WTI-UI/src/app/modules/clarifications/components/new-announcement-clarification-alert/new-announcement-alert.component.ts
  projects/WTI-UI/src/app/modules/clarifications/components/new-clarification/new-clarification.component.ts
  projects/WTI-UI/src/app/modules/core/abstract-services/i-websocket.service.ts
  projects/WTI-UI/src/app/modules/core/services/ui-helper.service.ts
  projects/WTI-UI/src/app/modules/runs/components/new-run/new-run.component.ts
  projects/WTI-UI/src/app/modules/runs/components/runs-page/runs-page.component.ts
Labels: Comments/Analysis Requested, In PR code review

#1095 I 764 add throttling to run submit for CLICS API pc2submits submissions
  src/edu/csus/ecs/pc2/clics/API202306/SubmissionService.java
  src/edu/csus/ecs/pc2/core/IInternalController.java
  src/edu/csus/ecs/pc2/core/InternalController.java
  src/edu/csus/ecs/pc2/shadow/RemoteRunSubmitter.java
Labels: high priority, NEXT Contest, One Approval, Primary CCS

#1096 i1030: correct naming issues in merge of PR #1041 for i1030.
  projects/WTI-API/src/main/controllers/ContestController.java
  projects/WTI-API/src/main/models/ContestClockModel.java
Labels: bug, WTI-UI, WTI-API Server, NEXT Contest, One Approval

#1098 i1097: keep clar Submit button disabled until text AND problem selected
  projects/WTI-UI/src/app/modules/clarifications/components/new-clarification/new-clarification.component.ts
Labels: WTI-UI, Small LOE, One Approval
